.image-display {
	position: absolute;
	top: 10%;
	right: 10%;
	width: 0;
	
	animation: imagefadein 0.5s cubic-bezier(.19,1,.22,1) 0.2s 1 forwards;
}

.banner {
	position: absolute;
	background-color: #ffff00;
	
	top: 15%;
	left: 20%;
	
	animation: expandright300 1s cubic-bezier(.19,1,.22,1) 0.5s 1 forwards;
}

.thistle {
	position: absolute;
	background-color: #ffff00;
	
	left: 35%;
	top: 55%;
	
	width: 500px;
	height: 250px;
	
	padding-left: 40px;
	padding-top: 10px;
}
.thistle p {
	margin-left: 30px;
}