::-webkit-scrollbar {
	display: none;
}
body {color: #414066;}
html {position: relative}

a {color: #414066;}
a:hover {
	color: #636281;
	text-decoration: none;
}





/*----NAVBAR CSS----*/
.nav-toggle {
	position: absolute;
	top: 13px;
	left: 13px;
	
	background-color: #414066;
	opacity: 0;
	width: 40px;
	height: 38px;
	
	padding: 7px;
	border-radius:2px;
	
	z-index: 1;
	
	animation: fadein 1s cubic-bezier(.19,1,.22,1) 0.5s 1 forwards;
}
.nav-toggle-bar {
	background-color: #ffff00;
	width: 25px;
	height: 4px;
	
	margin-bottom: 5px;
	border-radius: 3px;
}
.navbar {
	position: absolute;
	top: -50px;
	opacity: 0;
	width: 100%;
	border-radius: 0px;
	border-width: 0px;
	height: 70px;
	
	background-color: #ffff00;
	//background-color: #4c2a85;
  	border-color: #eeee00;
}

.navbar .navbar-nav > li > a {
	height: 70px;
	padding-top: 25px;
	font-size: 20px;
	color: #525173;
	
	//color: #ffff00;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  	color: #525173;
	animation: textshift 1s cubic-bezier(.19,1,.22,1) 0s 1 forwards;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  	color: #525173;
  	background-color: #f5f500;
}


.nav-toggle:hover + .navbar,
.navbar:hover {
	animation: fadeindown 0.5s cubic-bezier(.19,1,.22,1) 0s 1 forwards;
}
/*----NAVBAR CSS----*/






/*----FOOTER CSS----*/
#footer {
	position: absolute;
	
	bottom: 20px;
	left: 20px;
	
	
	height: 50px;
	width: 50px;
	
	background-color: #414066;
	color: #ffff00;
	
	
	animation: none;
	
	overflow: hidden;
}
#footer h1 {
	margin-top: -10px;
}

#clickey {
	position: absolute;
	height: 50px;
	width: 50px;
	
	background-color: #414066;
	
	padding-left: 10px;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 5px;
	border-radius: 0px;
}


#footer img {
	height: 40px;
}
#footer-images {
	margin-top: 5px;
	margin-left: calc(100% - 850px);
}
#footer h3 {
	margin-top: 10px;
}
/*----FOOTER CSS----*/














.image-display {
    overflow: hidden;
}
.image-display img {
	width: 922px;
	margin-top: -100px;
}


.image-display-home {
	margin: 50px;
	display: inline-block;
	height: 400px;
	width: 1px;
}




.scroll-fade-in {
	opacity: 0;
	width: 0;
}

.gallery {
	position: absolute;
	
	margin-top: -620px;
	left: 37%;
	
	width: 40%;
	height: 250px;
	
	background-color: #ffff00;
	
	padding: 90px 100px;
}






.about-img {
	height: 400px;
	width: 500px;
	
	margin-top: 100px;
	margin-bottom: 200px;
}
.about-img img {
	margin-top: -150px;
}
.center {
	display: block;
	margin: 0 auto;
	
	text-align: center;
}

.about {
	width: 70%;
	height: 80px;
	
	margin-top: -200px;
	background-color: #ffff00;
	
	position:absolute;
	left: 15%;
	
	text-align: center;
}
.contact {
	width: 40%;
	height: 80px;
	
	margin-top: -100px;
	background-color: #ffff00;
	
	position:absolute;
	left: 30%;
	
	text-align: center;
}






.customthumb {
	overflow: hidden;
	
	width: 0;
	height: 0;
	
	margin-bottom: 60px;
}
.customthumb img {
	max-width: 400px;
}

















@keyframes textshift {
	from {padding-top: 25px}
	to {padding-top: 30px}
}
@keyframes clickeysquare {
	0% {
		height: 40px;
		width: 40px;
		padding-left: 5px;
		margin-top: 5px;
		margin-left: 5px;
		padding-top: 0px;
		border-radius: 2px;
		
		background-color: #302F4B;
	}
	20% {
		height: 50px;
		width: 50px;
		padding-left: 10px;
		margin-top: 0px;
		margin-left: 0px;
		padding-top: 5px;
		border-radius: 0px;
		
		background-color: #414066;
	}
	100% {
		height: 50px;
		width: 50px;
		padding-left: 10px;
		margin-top: 0px;
		margin-left: 0px;
		padding-top: 5px;
		border-radius: 0px;
		
		background-color: #414066;
	}
}
@keyframes clickeyround {
	0% {
		height: 50px;
		width: 50px;
		padding-left: 10px;
		margin-top: 0px;
		margin-left: 0px;
		padding-top: 5px;
		border-radius: 0px;
		
		background-color: #414066;
	}
	20% {
		height: 50px;
		width: 50px;
		padding-left: 10px;
		margin-top: 0px;
		margin-left: 0px;
		padding-top: 5px;
		border-radius: 0px;
		
		background-color: #414066;
	}
	100% {
		height: 40px;
		width: 40px;
		padding-left: 5px;
		margin-top: 5px;
		margin-left: 5px;
		padding-top: 0px;
		border-radius: 2px;
		
		background-color: #302F4B;
	}
}
@keyframes footeropen {
	0% {bottom: 20px; left: 20px; padding-left: 0px; width: 50px;}
	20% {bottom: 10px; left: 20px; padding-left: 0px; width: 50px;}
	100% {bottom: 20px; left: 0; padding-left: 20px; width: 100%;}
}
@keyframes footerclose {
	0% {bottom: 20px; left: 0; padding-left: 20px; width: 100%;}
	20% {bottom: 10px; left: 20px; padding-left: 0px; width: 50px;}
	100% {bottom: 20px; left: 20px; padding-left: 0px; width: 50px;}
}
@keyframes thumbexpand {
	from {width: 0; height: 0;}
	to {width: 230px; height: 230px;}
}
@keyframes expanddownfull {
    from {height: 0;}
    to {height: 100vh;}
}
@keyframes compressdownfull {
    from {height: 100%;}
    to {height: 0;}
}
@keyframes expandrightfull {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes fadein {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes expandright600 {
	from {width: 0px;}
	to {width: 600px;}
}
@keyframes expandright300 {
	from {width: 0px;}
	to {width: 300px;}
}
@keyframes fadeindown {
	from {opacity:0; top:-60px;}
	to {opacity:1; top:0px;}
}
@keyframes fadeoutdown {
	from {opacity:1; top:0px;}
	to {opacity:0; top:-60px;}
}
@keyframes imagefadein {
	from {opacity: 0; width:0}
	to {opacity: 1; width:60%}
}
@keyframes mailform {
	from {opacity: 0; width: 0; height: 0; margin-top: 0; margin-left: 0;}
	to {opacity: 1; width: 700px; height: 700px; margin-top: -350px; margin-left: -350px;}
}
@keyframes closeform {
	from {opacity: 1; width: 700px; height: 700px; margin-top: -350px; margin-left: -350px;}
	to {opacity: -0.5; width: 0; height: 0; margin-top: 0; margin-left: 0;}
}